@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
.chat-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 4fr;
  width: 95%;
  height: 85%;
  grid-template-areas:
    "aside article article"
    "aside article article"
    "loggedin footer footer";
}

.chat-users {
  grid-area: aside;
  background-color: rgba(0, 0, 0, 0.2);
}

.chat-area {
  justify-self: center;
  grid-area: article;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}

.chat-bubble {
  background-color: #bbdefb;
  padding: 20px;
  border-radius: 4px;
  max-width: 40%;
  word-wrap: break-word;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1.6;
  color: rgb(53, 53, 53);
  margin-left: 3%;
}

.chat-time {
  font-size: 9px;
  color: #757575;
  text-align: right;
  align-self: flex-start;
}

.chat-bubble.current-user {
  align-self: flex-end;
  background-color: #7ad8c0;
  margin-right: 3%;
}

.chat-form {
  justify-self: center;
  grid-area: footer;
  width: 97%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.chat-text {
  width: 90%;
  height: 90%;
  font-family: inherit;
}

.form-control:focus {
  box-shadow: none;
}

#btn-submit {
  background-color: #8be0f5;
  height: 100%;
  color: rgb(53, 53, 53);
}

#btn-submit:hover {
  background-color: #8bf5db;
}

.loggedin {
  grid-area: loggedin;
  background-color: rgba(0, 0, 0, 0.2);
}

/* @media screen and (max-width: 767px) {
  .chat-area .chat-bubble {
    max-width: 250px;
  }
} */

.username {
  font-size: 80%;
  margin-top: -10px;
}

@media (max-width: 849px) {
  .chat-container {
    grid-template-rows: auto;
    grid-template-areas:
      "aside aside aside"
      "article article article"
      "article article article"
      "footer footer footer"
      "loggedin loggedin loggedin";
    padding-bottom: 4%;
    justify-items: center;
    row-gap: 1%;
  }
  .chat-users {
    width: 99%;
    font-size: 0.8em;
    text-align: start;
    padding-bottom: 2%;
    padding-top: 2%;
  }
  .chat-area {
    width: 99%;
    height: 98%;
  }
  .chat-bubble {
    height: auto;
    width: 50%;
    font-size: 0.7em;
  }

  .chat-form {
    width: 99%;
  }

  .chat-text {
    width: 90%;
  }

  #btn-submit {
    height: 4em;

    font-size: 0.8em;
  }
  .loggedin {
    font-size: 0.7em;
    width: 50%;
    line-height: 140%;
  }
}

@media (min-width: 850px) {
  .chat-area {
    width: 97%;
    height: 94%;
  }
  .chat-text {
    font-size: 1em;
  }
  #btn-submit {
    height: 4em;
    font-size: 1em;
  }

  .loggedin {
    font-size: 0.8em;
    line-height: 140%;
  }
}
