.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.home-title {
  background-color: rgba(0, 0, 0, 0.4);
  line-height: 170%;
}

.lead {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  margin: 0;
}

.home-btns {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-signup,
.btn-signin {
  margin: 0;
  text-decoration: none;
}

.user-welcome {
  margin: 0;
}

@media (min-width: 300px) and (max-width: 849px) {
  .home-title {
    width: 350px;
  }
  .home-btns {
    width: 40%;
    height: 20%;
    font-size: 1em;
    line-height: 150%;
  }
  .lead {
    font-size: 1em;
    height: 15%;
    width: 90%;
  }
}

@media (min-width: 850px) {
  .home-title {
    width: 500px;
    font-size: 1.3em;
  }
  .home-btns {
    width: 45%;
    height: 21%;
    font-size: 1.1em;
    line-height: 190%;
  }
  .lead {
    font-size: 1.1em;
    height: 10%;
    width: 800px;
  }
}
