.form-container {
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.login-signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.login-signup-title {
  background-color: rgba(0, 0, 0, 0.4);
  line-height: 170%;
  padding-left: 1%;
  padding-right: 1%;
}

.login-signup-label {
  height: 15%;
  display: flex;
}

.form-input {
  font-family: inherit;
  font-size: 0.9em;
  height: 100%;
  width: 100%;
}

.btn-group {
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.btn-group > p {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0;
}

.btn-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-google {
  background-image: url(https://cdn2.iconfinder.com/data/icons/social-icons-grey/512/google-512.png);
  background-size: contain;
  background-color: #ededed;
  background-repeat: no-repeat;
}

.btn-github {
  background-image: url(https://cdn2.iconfinder.com/data/icons/social-icons-grey/512/GITHUB-512.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
}

.btn-github:hover {
  background-color: rgb(36, 36, 36);
}

.lower-p {
  font-size: 10px;
  line-height: 200%;
}

@media (max-width: 849px) {
  .login-signup-form {
    height: 50%;
    width: 60%;
  }
  label {
    width: 250px;
  }

  .btn.btn-submit {
    width: 200px;
    height: 15%;
    font-size: 1.1em;
  }
  .btn-group {
    height: 30%;
    width: 200px;
  }

  .upper-p {
    font-size: 0.9em;
  }
  .btn-sub {
    height: 40%;
    width: 100%;
  }
  .btn-google,
  .btn-github {
    width: 100%;
    font-size: 0.8em;
    height: 100%;
  }
}

@media (min-width: 850px) {
  .login-signup-form {
    height: 50%;
    width: 60%;
  }
  label {
    width: 350px;
  }
  .btn.btn-submit {
    width: 220px;
    height: 19%;
    font-size: 1.2em;
  }
  .btn-group {
    height: 30%;
    width: 200px;
  }

  .btn-sub {
    height: 40%;
    width: 100%;
  }
  .btn-google,
  .btn-github {
    width: 100%;
    font-size: 0.8em;
    height: 100%;
  }
}
