header {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
  padding: 0;
  list-style: none;
  margin: 0;
}

.nav-li {
  text-align: center;
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.nav-item.nav-link,
.navbar-brand {
  width: 70%;
}

.profile {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dropdown-content {
  display: none;
  align-self: flex-end;
  padding: 0;
}
.pic-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  cursor: pointer;
}

.nav-pic {
  height: 100%;
}

.nav-pic > img {
  height: 100%;
}

.dropdown-content-active {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  display: flex;
  height: 10%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  clear: both;
  align-self: center;
  margin-top: 50px;
  list-style: none;
}

.sign-out:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
